:root {
  --screen-color: lime;
  --output-color: #333;
}

body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

/* Game visibility */

.invisible {
  display: none;
}

/* Computer output styling */

#computer-player-output {
  margin: 0 auto 5rem;
  background: var(--screen-color);
  border: 3px solid #444;
  border-radius: 5px;
  height: 10rem;
  width: 30rem;
  line-height: 1.25rem;
  overflow-y: scroll;
  padding: 1rem 0.5rem;
}

#computer-player-output::-webkit-scrollbar {
  display: none;
}

#computer-player-output p {
  font-family: "Courier New", Courier, monospace;
  color: var(--output-color);
  text-align: left;
  font-weight: bold;
}


/* Blackjack Buttons */

.human-player-input {
  margin: 5rem 0 5rem;
  text-align: center;
}

#bj-input-buttons {
  margin-top: 0.5rem;
}

.bj-btn {
  height: 2rem;
  width: 4rem;
  margin: 1rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  background: #f4f4f4;
  transition: all .1s ease-in;
}

.bj-btn:hover {
  transform: scale(1.5);
  background: #333;
}

.faded-input {
  opacity: 0.6;
  transition: all 0s;
}

.faded-input:hover {
  opacity: 0.4;
  background: #f4f4f4;
}

#bj-exit-button {
  margin-top: 4rem auto;
  height: 4rem;
  width: 6rem;
}

#bj-new-game-button {
  margin: 4rem auto;
  height: 4rem;
  width: 6rem;
}

#ask-to-play {
  font-style: italic;
  text-align: center;
}

#bj-play {
  margin: 4rem 0;
  height: 4rem;
  width: 6rem;
}