* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* max-width:500px;
    margin: auto; */
  font-family: sans-serif;
  color: white;
  line-height: 1.7em;
  text-align: center;
  height: 100%;
  background-color: black;
}

h1,
h2 {
  padding-bottom: 30px;
  margin: 20px auto;
}

h3 {
  padding-bottom: 0px;
  font-style: italic;
}

#main-header {
  font-size: 54px;
  color:white;
  font-style: italic;
}

p {
  margin: 15px auto;
  max-width: 500px;
}

.main-content {
    padding: 130px 0px;
  background: url("https://t4.ftcdn.net/jpg/00/07/55/11/360_F_7551128_CHJ6DwqTgOQHY9MunSDW15yYySEIG3jI.jpg")
    center center/cover;
  
}

.main-content-hell {
    padding: 130px 0px;
    background: url("https://pbs.twimg.com/media/Eh1mY2PUcAAn2ov?format=jpg&name=large")
    no-repeat center center/cover;
}

/* Navigation Menu attributes */

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    height: 100%;
    min-height: 100%;
}

#navbar {
  background: black;
  color: white;
  overflow: auto;
}

#navbar h2 {
  float: left;
  margin: auto;
  margin-top: 15px;
  font-style: italic;
}
#navbar ul {
  margin-right: 0px;
  list-style: none;
  float: right;
  overflow: auto;
}

#navbar ul li {
  float: left;
  padding: 1em;
}

#navbar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;

}

#navbar ul li a:hover,
#navbar ul li a.current {
  color: white;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
}
/* 
#navbar ul li a:visited {
  color: purple;
} */

#navbar ul li a:hover:visited {
  color: red;
}

#greeting-area {
  display: block;
  align-items: center;
}

/* Image attributes */

img {
  border-radius: 75px;
  margin-bottom: 20px
}

.jim-visible {
  display: inline-block;
  width: 300px;
  height: auto;
  align-self: center;
}

.jim-invisible {
  display: none;
}

input {
  display: inline;
}

.btn {
  display: inline-block;
  border: none;
  font-size: 16px;
  color: white;
  background: black;
  padding: 6px 10px;
  cursor: pointer;
}

input {
    font-size: 22px;
    margin: 30px 10px;
    border: black;
}

#greeting {
  max-width: fit-content;
  margin: 30px auto;
  background: black;
  color: white;
}

#footer {
  padding-bottom: 0px;
  background: black;
  overflow: auto;
  min-height: 50px;
  max-width: 100%;
  position: sticky;
}