:root {
    --primary-font-color: white;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7rem;
    height: 100%;
    background-color: black;
       
}

.bg-container {
    width: 100%;
    height: 100%;
}

#main-bg {
    background: url("https://t4.ftcdn.net/jpg/00/07/55/11/360_F_7551128_CHJ6DwqTgOQHY9MunSDW15yYySEIG3jI.jpg")
    center center/cover;
}

#main-bg-hell {
    background: url("https://pbs.twimg.com/media/Eh1mY2PUcAAn2ov?format=jpg&name=large")
    no-repeat center center/cover;
}

.nav-container {
    display: flex;
    align-items: center;
    background: black;
    opacity: 0.7;
    width: 100%;
    position: sticky;
    top: 0;
    color: var(--primary-font-color);
    padding: 0 2rem;
    justify-content: space-between;
    height: 5rem;
    transition: opacity .2s ease;
}

.nav-container:hover {
    opacity: 1;
}

.nav-container #menu-header {
    align-items: left;
    /* display: block; */
    margin-left: 5rem;
    font-style: italic;
    font-weight: bold;
    font-size: 1.8rem;
}

.nav-container ul {
    display: inline;
    justify-content: right;
    margin-right: 5rem;
    list-style: none;
}

.nav-container ul li {
    display: inline;
    padding: 1rem;
}

.nav-container ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--primary-font-color);
    transition: all 0.2s ease;
}

.nav-container ul li a:hover {
    font-style: italic;
    color: red;
    font-size: 1.8rem;
}

/* PAGE CONTAINER */

.page-container {
    color: var(--primary-font-color);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}


/* Main page */

#main-page {

    height: 10;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: url("https://t4.ftcdn.net/jpg/00/07/55/11/360_F_7551128_CHJ6DwqTgOQHY9MunSDW15yYySEIG3jI.jpg")
    center center/cover; */
    /* overflow: hidden; */
}

#main-page-hell {
    /* background: url("https://pbs.twimg.com/media/Eh1mY2PUcAAn2ov?format=jpg&name=large")
    no-repeat center center/cover; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#the-jim-zone {
    justify-content: center;
    margin-top: -20rem;

}

#main-header {
    display: flex;
    justify-content: center;
    margin: 15rem 0 5rem;
    font-size: 3rem;
    font-style: italic;
    text-shadow: .5rem .2rem 1rem black;
}

.jim-visible {
    display: inline-block;
    width: 25rem;
    height: auto;
    align-self: center;
    border-radius: 10px;
}

.jim-invisible {
    display: none;
}

/* Greetings from Jimbo */

#greeting-area h3 {
    margin-top: 3rem;
    text-align: center;
    font-style: italic;
}

#name-input {
    margin: 2rem 0;
    border-radius: .3rem;
    font-size: 1.25rem;
    padding: .2rem .4rem;
    margin: 1.8rem .6rem;
    border: black;
    transition: all .2s ease;
}

#name-input:focus {
    font-size: 1.5rem;
}

#greet {
    border: none;
    border-radius: .6rem;
    font-size: 1.2rem;
    background: black;
    color: white;
    padding: .4rem .6rem;
    cursor: pointer;
    font-weight: bold;
    transition: all .2s ease;
}

#greet:hover {
    font-size: 1.4rem;
    background: rgba(116,2,2,.9);
}

#greeting-box {
    height: 5rem;
    max-width: 25rem;
    padding: 15px
}
#greeting {
    text-align: center;
    transition: all 1s ease;
}

#greeting:hover {
    font-size: 2rem;
}

#main-info {
    max-width: 35rem;
    text-align: center;
    text-shadow: .2rem .2rem 1rem black;
}

footer {
    flex: none;
    display: flex;
    bottom: 0;
    left: 0;
    position: sticky;
    background: black;
    min-height: 5vh;
    width: 100%;
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
}